@charset "utf-8";
/* CSS Document */

/* Font Inclusion */
@font-face {
	font-family: 'Montserrat-Regular';
    src: url('../assets/fonts/montserrat-regular-webfont.eot');
    src: url('../assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/montserrat-regular-webfont.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/montserrat-bold-webfont.eot');
    src: url('../assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/montserrat-bold-webfont.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bree';
    src: url('../assets/fonts/breeserif-regular-webfont.eot');
    src: url('../assets/fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../assets/fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sanchez';
    src: url('../assets/fonts/sanchez-regular-webfont.eot');
    src: url('../assets/fonts/sanchez-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sanchez-regular-webfont.woff') format('woff'),
         url('../assets/fonts/sanchez-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/sanchez-regular-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../assets/fonts/lato-bol-webfont.eot');
    src: url('../assets/fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/lato-bol-webfont.woff') format('woff'),
         url('../assets/fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../assets/fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* GENERAL */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.relative {
	position:relative;
}

.full-width-separator {
	height:1px;
	width:100%;
	background-color: #bdbdbd;
}

.center {
		margin-left: auto;
	margin-right: auto;
}

h4 {
	font-family: 'Bree';
	font-size: 22px;

}
h2 {
	font-family: 'Bree';
	font-size: 20px;
	font-weight: normal;
}
.caption {
	padding:20px;
	font-size:20px;
}
.floatLeft {
float:left;
}
.spacing {
margin-top:20px;
margin-bottom:20px;
}
.white {
	color:#fff;
}
.bg_white {
	background-color:#fff;
}
.lightBlue {
	color:#49CEC8;
	}
.red {
	color:#BC1B26;
	}

/* END GENERAL */

body {
	background: url(../img/subtlenet2.png) center center repeat;	
	font-family: 'Sanchez';
	font-size: 14px;
}

/* HEADER */
header {
	margin-top:5px;	
	margin-bottom: 5px;	
}
#logo {
	margin-top: 70px;
	margin-bottom:30px;
	}

#language {
	
	height: 30px;
	border-radius: 10px;
	cursor:pointer;
	min-width: 180px;
	padding-top:3px;
	margin-top:11px;
}
#language div {
	float:left;
}
#language p {
	float:left;
	font-family: 'Bree';
	font-size: 16px;
	line-height: 14px;
	padding-top: 6px;
	padding-left: 5px;
	color: #333;
}

.flag {
	background: url(../img/flagUK.png) center center no-repeat;
	width: 20px;
	height: 14px;
	margin-left: 7px;
	margin-top:6px;
}
/* END HEADER */

/* NAVBAR */

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
	font-weight: normal;
	border-bottom: 1px solid #333;
}

.nav-collapse .nav>li:last-child>a, .nav-collapse .dropdown-menu a {
	border-bottom:none;
}
.brand {
	margin-left: 20px !important;
	border-right: 1px solid #ddd;
	color:  #444 !important;
	text-shadow: none;
	font-family: 'Lato-Bold';
font-size: 15px;
}
.nav a {
font-family: 'Lato-Bold';
font-size: 16px;
text-transform: uppercase;
border-bottom: 0 !important;
}

.navbar .nav {
	font-size:16px;
	margin: 10px 10px 0 30px;
}
.navbar .btn {
	margin-top: 15px;
}

/* END NAVBAR */


/* SHORT INFO SECTIONS */
.container-fluid {
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}
.shortInfo img {
	margin-bottom:20px;
	}
.shortInfo .span3 {
	padding: 15px;

}
.shortInfo .span3:hover {
	border-radius: 5px;
	background-color: #DADADA;
	}
	
.mobile-wwd { height: 270px; overflow:hidden; }
.mobile-wwd  .viewport { float: left; width: 200px; height: 270px; overflow: hidden; position: relative; }
.mobile-wwd  .buttons { background:url("../img/skin.png") no-repeat scroll 0 0 transparent; display: block; margin: 80px 10px 0 0;background-position: 0 -50px; text-indent: -999em; float: left; width: 18px; height: 50px; overflow: hidden; position: relative; }
.mobile-wwd  .next {background-position: 0 0; margin: 80px 0 0 10px;  }
.mobile-wwd  .disable { visibility: hidden; }
.mobile-wwd  .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
.mobile-wwd  .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; width: 200px;}
#slider1Holder {
	width:260px;
	margin-left:auto;
	margin-right: auto;
}
#slider2Holder {
	width:260px;
	margin-left:auto;
	margin-right: auto;
}

.mobile-image {
	width:100%;
	height:auto;
	position:relative;
}
.mobile-image img {
	width:auto;
	height:auto;
}

.mobile-image span {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -20px;
	margin-left: -141px;
	background-color: #fff;
	padding: 0 10px;

}
.mobile-image a{
	color:#333;
}
.mobile-image a:hover {
	color:#f00;
	text-decoration:none;
}

/* END SHORT INFO SECTIONS */	
	
@media (min-width: 768px) and (max-width: 979px) {
#logo {
	margin-top: 0px;
}
}

@media (max-width: 767px) {

#logo {
	margin-top: 30px;
}
.sectionTitle {
text-align:center;
}
.shortInfo img {
	float:left;
	margin-right:30px;
	margin-top:40px;
}


}
