@charset "utf-8";
/* CSS Document */

/* Font Inclusion */
@font-face {
	font-family: 'Montserrat-Regular';
    src: url('../assets/fonts/montserrat-regular-webfont.eot');
    src: url('../assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/montserrat-regular-webfont.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/montserrat-bold-webfont.eot');
    src: url('../assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/montserrat-bold-webfont.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bree';
    src: url('../assets/fonts/breeserif-regular-webfont.eot');
    src: url('../assets/fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../assets/fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sanchez';
    src: url('../assets/fonts/sanchez-regular-webfont.eot');
    src: url('../assets/fonts/sanchez-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sanchez-regular-webfont.woff') format('woff'),
         url('../assets/fonts/sanchez-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/sanchez-regular-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../assets/fonts/lato-bol-webfont.eot');
    src: url('../assets/fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/lato-bol-webfont.woff') format('woff'),
         url('../assets/fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../assets/fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* GENERAL */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.relative {
	position:relative;
}

.full-width-separator {
	height:1px;
	width:100%;
	background-color: #bdbdbd;
}

.center {
		margin-left: auto;
	margin-right: auto;
}

h4 {
	font-family: 'Bree';
	font-size: 22px;

}
h2 {
	font-family: 'Bree';
	font-size: 20px;
	font-weight: normal;
}
.caption {
	padding:20px;
	font-size:20px;
}
.floatLeft {
float:left;
}
.spacing {
margin-top:20px;
margin-bottom:20px;
}
.white {
	color:#fff;
}
.bg_white {
	background-color:#fff;
}
.lightBlue {
	color:#49CEC8;
	}
.red {
	color:#BC1B26;
	}
#back-top {
	position: fixed;
	bottom: 10px;
	right:10px;
	width:30px;
	height:30px;
	background: url(../img/toTop.png) center center no-repeat;
	display:block;
	cursor:pointer;
}

/* END GENERAL */

body {
	background: url(../img/subtlenet2.png) center center repeat;	
	font-family: 'Sanchez';
	font-size: 14px;
}

/* HEADER */
header {
	margin-top:5px;	
	margin-bottom: 5px;	
}
#logo {
	margin-top: 70px;
	margin-bottom:30px;
	}

#language {
	
	height: 30px;
	border-radius: 10px;
	cursor:pointer;
	min-width: 180px;
	padding-top:3px;
	margin-top:11px;
}
#language div {
	float:left;
}
#language p {
	float:left;
	font-family: 'Bree';
	font-size: 16px;
	line-height: 14px;
	padding-top: 6px;
	padding-left: 5px;
	color: #333;
}

.flag {
	background: url(../img/flagUK.png) center center no-repeat;
	width: 20px;
	height: 14px;
	display:inline-block;
	margin-right: 10px;
}
.roFlag
{
	background: url(../img/flagRO.png) center center no-repeat;
	width: 20px;
	height: 14px;
	display:inline-block;
	margin-right: 10px;
}
/* END HEADER */

/* NAVBAR */

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
	font-weight: normal;
	border-bottom: 1px solid #333;
}

.nav-collapse .nav>li:last-child>a, .nav-collapse .dropdown-menu a {
	border-bottom:none;
}
.brand {
	margin-left: 20px !important;
	border-right: 1px solid #ddd;
	color:  #444 !important;
	text-shadow: none;
	font-family: 'Lato-Bold';
font-size: 15px;
}
.nav a {
font-family: 'Lato-Bold';
font-size: 16px;
text-transform: uppercase;
border-bottom: 0 !important;
}

.navbar .nav {
	font-size:16px;
	margin: 10px 10px 0 30px;
}
.navbar .btn {
	margin-top: 15px;
}
.active a{
	height:26px;
	margin-top:-10px;
	padding-top: 20px !important;
	box-shadow:none !important;
}


.dropdown-menu li a:hover {
       background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
        color: white;
      }

/* END NAVBAR */


/* SHORT INFO SECTIONS */
.container-fluid {
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}
.shortInfo img {
	margin-bottom:20px;
	}
.shortInfo .span3 {
	padding: 15px;

}
.shortInfo .span3:hover {
	border-radius: 5px;
	background-color: #DADADA;
	}
.shortInfo h2 {
	line-height:20px;
}
.mobile-wwd { height: 270px; overflow:hidden; }
.mobile-wwd  .viewport { float: left; width: 200px; height: 270px; overflow: hidden; position: relative; }
.mobile-wwd  .buttons { background:url("../img/skin.png") no-repeat scroll 0 0 transparent; display: block; margin: 80px 10px 0 0;background-position: 0 -50px; text-indent: -999em; float: left; width: 18px; height: 50px; overflow: hidden; position: relative; }
.mobile-wwd  .next {background-position: 0 0; margin: 80px 0 0 10px;  }
.mobile-wwd  .disable { visibility: hidden; }
.mobile-wwd  .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
.mobile-wwd  .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; width: 200px;}
#slider1Holder {
	width:260px;
	margin-left:auto;
	margin-right: auto;
}
#slider2Holder {
	width:260px;
	margin-left:auto;
	margin-right: auto;
}

.mobile-image {
	width:100%;
	height:auto;
	position:relative;
}
.mobile-image img {
	width:auto;
	height:auto;
}

.mobile-image span {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -20px;
	margin-left: -141px;
	background-color: #fff;
	padding: 0 10px;

}
.mobile-image a{
	color:#333;
}
.mobile-image a:hover {
	color:#f00;
	text-decoration:none;
}

/* END SHORT INFO SECTIONS */


/* ABOUT THE COMPANY */

#about_company_container {
	width:100%;
	height: auto;
	background-color:#2185c6;	
	margin-top:80px;
}
#company_title {
	font-family:'Montserrat-Bold';
	font-size: 72px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 150px;
	width: 500px;
	letter-spacing:-7px;
	word-spacing: 5px;
}
#company_holder {
	max-width:1423px;
	width:100%;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#company_mainpic {
	width: 967px;
	height: 636px;
	margin-left:auto;
	margin-right:auto;
	background: url(../assets/about_holder.png) center center no-repeat;
}
/* entire container, keeps perspective */
#aboutflip1{
	position:absolute;
	top:10px;
	left:50px;
}
#aboutflip1 .front,#aboutflip1 .back{
	background-color:#A9CF54;
}
#aboutflip2{
	position:absolute;
	bottom:40px;
	left:200px;
}
#aboutflip2 .front,#aboutflip2 .back{
	background-color:#ff7f66;
}
#aboutflip3{
	position:absolute;
	top:10px;
	right:140px;
}
#aboutflip3 .front,#aboutflip3 .back{
	background-color:#105B63;
}
#aboutflip4{
	position:absolute;
	bottom:30px;
	right:260px;
}
#aboutflip4 .front,#aboutflip4 .back{
	background-color:#BD4932;
}
.flip-container {
	perspective: 1000;
	-moz-transform: perspective(1000px);
	-webkit-perspective: 1000;
	-o-perspective: 1000;
	-ms-perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .back, .flip-container.hover .back {
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
	}
	.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 234px;
	height: 234px;
}

/* flip speed goes here */
.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	  -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
 -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
   transition: 0.6s;
    transform-style: preserve-3d;
	width: 234px;
	height:234px;
	border-radius:50%;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background:url(../assets/flipped.png) center center no-repeat;
-webkit-transform: translate3d(0, 0, 0);


}
.front h2 {
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -72px;
	margin-top:-25px;
	line-height:25px;
	text-align:center;
	font-size: 24px;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
		-webkit-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
	background:url(../assets/flipper.png) center center no-repeat;
}
.back .backcontainer {
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -100px;
	margin-top:-100px;
	line-height:25px;
	text-align:center;
	font-size: 24px;
	width:200px;
	height:200px;
}
.aboutsep {
	width:143px;
	height:15px;
	background:url(../assets/aboutsep.png) center center repeat-x;
	margin-left:auto;
	margin-right:auto;
}
.backcontainer p{
	font-family:'Sanchez';
	font-size:14px;
	padding:10px;
	line-height:20px;
}
.mobile-circle {
	border-radius:50%;
	background-color:#fff;
	width:220px;
	height:220px;
	margin:20px auto;
}
.mobile-circle img{
	margin-left:2px;
	margin-top:61px;
}
.mobile-about-info {
	width:80%;
	margin: 10px auto 0 auto;
	border: 1px dashed #fff;
	border-radius: 5px;
	background-color: #1074b5;
	box-shadow: inset 0px 5px 4px #004181;
}
.mobile-about-info:nth-child(4) {
	margin-bottom:40px;
}
/* FOOTER */

#facebook {
	width: 24px;
	height:24px;
	background: url(../img/facebook.png) no-repeat 0 0;
	display:inline-block;
	animation: socialmediaOff .2s linear;
	-webkit-animation: socialmediaOff .2s linear;
	margin-left:10px;
	
}
#facebook:hover {
	background-position: 0 -24px;
	animation: socialmediaOn .2s linear;
	-webkit-animation: socialmediaOn .2s linear;

}
#twitter {
	width: 24px;
	height:24px;
	background: url(../img/twitter.png) no-repeat 0 0;
	display:inline-block;
	animation: socialmediaOff .2s linear;
	-webkit-animation: socialmediaOff .2s linear;
}
#twitter:hover {
	background-position: 0 -24px;
	animation: socialmediaOn .2s linear;
	-webkit-animation: socialmediaOn .2s linear;

}
#linkedin {
	width: 24px;
	height:24px;
	background: url(../img/linkedin.png) no-repeat 0 0;
	display:inline-block;
	animation: socialmediaOff .2s linear;
	-webkit-animation: socialmediaOff .2s linear;
}
#linkedin:hover {
	background-position: 0 -24px;
	animation: socialmediaOn .2s linear;
	-webkit-animation: socialmediaOn .2s linear;
}

@keyframes socialmediaOn
{
from {background-position: 0 0}
to {background-position: 0 -24px}
}

@-webkit-keyframes socialmediaOn /* Safari and Chrome */
{
from {background-position: 0 0}
to {background-position: 0 -24px}
}
@keyframes socialmediaOff
{
from {background-position: 0 -24px}
to {background-position: 0 0}
}

@-webkit-keyframes socialmediaOff /* Safari and Chrome */
{
from {background-position: 0 -24px}
to {background-position: 0 0}
}

/* END FOOTER */	


/* MEDIA QUERIES */
	
@media (min-width: 768px) and (max-width: 979px) {
#logo {
	margin-top: 0px;
}
#company_title {
	font-family:'Montserrat-Bold';
	font-size: 72px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	width: 500px;
	letter-spacing:-7px;
	word-spacing: 5px;
}
#company_mainpic {
	width: 571px;
	height: 600px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	margin-bottom:30px;
	background: url(../assets/about_holder_smaller.png) center center no-repeat;
}

#aboutflip2{
	position:absolute;
	bottom:10px;
	left:4%;
}
#aboutflip3{
	position:absolute;
	top:40px;
	right:2%;
}
#aboutflip4{
	position:absolute;
	bottom:40px;
	right:3%;
}
}

@media (max-width: 767px) {

#logo {
	margin-top: 30px;
}
.sectionTitle {
text-align:center;
}
.shortInfo img {
	float:left;
	margin-right:30px;
	margin-top:40px;
}
#company_title {
	font-size: 42px;
	padding-top:40px;	
	width:300px;
	letter-spacing: -4px;
}

}
@media (min-width: 1150px) and (max-width: 1280px) {
#aboutflip1{
	position:absolute;
	top:10px;
	left:50px;
}
#aboutflip2{
	position:absolute;
	bottom:40px;
	left:140px;
}
#aboutflip3{
	position:absolute;
	top:10px;
	right:140px;
}
#aboutflip4{
	position:absolute;
	bottom:30px;
	right:180px;
}
}
@media (min-width: 980px) and (max-width: 1150px) {
#aboutflip1{
	position:absolute;
	top:80px;
	left:1%;
}
#aboutflip2{
	position:absolute;
	bottom:40px;
	left:70px;
}
#aboutflip3{
	position:absolute;
	top:10px;
	right:3%;
}
#aboutflip4{
	position:absolute;
	bottom:30px;
	right:8%;
}
}